html {
    font-family: 'Raleway';
    font-weight:400;
}

body {
    margin: 0;
    font-family: Sans-Serif;
}

main {
    margin: auto;
    min-height: 600px;
    max-width: 360px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}

p {
    line-height: 1.5;
    margin-top: 26px;
    margin-bottom: 26px;
}

header {
    display: block;
    margin: 0;
    padding: 28px 0 26px 0;
    line-height: 0;
    border-bottom: 1px solid #d9dadc;
    text-align: center;
}

#generate, #loggedin, #selected-heading {
    display: none;
}

#playlists, #selected-playlists {
    height: 130px;
    overflow-y: overlay;
    margin-top: 6px;
    margin-bottom: 26px;
}

li {
    margin-top: 6px;
}

li::marker {
    font-weight: 600;
}

ol {
    padding-left: 26px;
}

a {
    cursor: pointer;
}

#form {
    margin-top: 26px;
}

label {
    font-size: 14px;
    font-weight: 700;
}

#user, #newplay {
    border: 1px solid lightgrey;
    width: 100%;
    height: 36px;
    margin-top: 6px;
}

#user:focus, #newplay:focus {
    outline: none;
    transition : border 150ms ease-in;
    border: 1px solid grey;
}

input {
    margin-bottom: 16px;
}

input.btn {
    margin-top: 10px;
}

button, .btn {
    color: white;
    background-color: #15883e;
    width: 100%;
    letter-spacing: 2px;
    font-weight: 700;
    padding: 16px 24px;
    font-size: 13px;
    border-radius: 50px;
    text-transform: uppercase;
}

button:hover, .btn:hover {
    color: white;
    background-color: #1ed760;
    transition: background-color 0.3s ease;
}

.cancel {
    margin-left: 1em;
}

@media only screen and (max-width: 760px) {

    h1 {
     font-size: 22px;
    font-weight: 800;
    letter-spacing: -1px;
}

    header {    
        padding: 15px 0 14px 0;
    }
}

#generating {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.66);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#generating-text {
    color: white;
    font-size: 30px;
    letter-spacing: -1.5px;
    display: none;
}
